body{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(255, 255, 255)),
  url(./assest/back2.avif);
  background-position-y: 40%;
  overflow: hidden;
  object-fit: cover;
}
.navbar{
  color: white;
  background-color: rgba(255,255,255,0.5);
}
p{
  font-size: 1.6rem;
}
.displayweather{
color: white;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 700px;
height: 700px;
top:10%;
}
.displayweather .top{
  width: 100%;
  margin: 1rem auto;
}
.displayweather .description{
  position: relative;
  right: -90%;
  transform-origin: 0.0;
}
.wearthdisplay-card{
  color:white;
  text-align: center;
  background-color: lightslategrey;
  border-radius: 10px;
}
.bottom-card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: center;
  margin: 1rem auto;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}
.temp{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}
.bold{
  font-weight: 700;
}
.search-name{
  color: linen;
  text-align: center;
}
.input{
  border-radius: 30px;
  background-color: gray;
  width: 100%;
  color: white;
}
.search-input{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.center-card{
  font-size: 1.4rem;
}
/* .center{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
} */
/* .home{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: white;
}
.home:before{
  content: '';
  background: url(./assest/image.jpeg) no-repeat, center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
} */